<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1074612101519-5cq8fdo44loijvdkbhn2bbmj9unpv4gr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1074612101519-5cq8fdo44loijvdkbhn2bbmj9unpv4gr</string>
	<key>API_KEY</key>
	<string>AIzaSyDPQa4ZwwTRsgLSZabuWZLq7HxUm3-uIyI</string>
	<key>GCM_SENDER_ID</key>
	<string>1074612101519</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.architecture.tapp</string>
	<key>PROJECT_ID</key>
	<string>architecture-2d52e</string>
	<key>STORAGE_BUCKET</key>
	<string>architecture-2d52e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1074612101519:ios:b7f730724dccbc00baebfa</string>
</dict>
</plist>